body{
    background-color: black;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    background-color: white;
    width: 70%;

}

.texto{
    font-size: 11px;
    margin: 1px;
    float: right;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
}

span{
    margin: 1px;
}

.div-header{
    display: flex;
    padding: 0.6em;
    justify-content: space-between;
    

}

.div-body img{
    width: 100%;
}

.div-footer{
    padding: 1em;
}

.all-icons{
    display:flex;
    justify-content: space-between;
}

.icon{
    font-size: 30px;
    
}

p{
    font-size: 13px;
}